﻿/*.sidebar-wrapper {
    width: 220px;
}
.sidebar-bg.bg1 .sidebar-wrapper {
    background-image: none;
}
.legacy-theme .sidebar-wrapper {
    background-color: #fafafa;
}
.legacy-theme.sidebar-bg .sidebar-wrapper:before {
    background-color: transparent;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 20px;
}
.sidebar-wrapper .card h5, .sidebar-wrapper .card div {
    white-space: nowrap;
    overflow: hidden
}
.sidebar-wrapper .card {
    margin: 5px 5px;
    font-size: 9pt;
    font-weight: normal;
}
.sidebar-wrapper .bpobject {
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 94px;
}
.sidebar-wrapper .bpobject div{
    text-overflow:ellipsis;
}

.sidebar-wrapper .bpobject:hover {
    border: 1px solid #888888;
}*/


.item-container {
    display: inline-block;
    position: absolute;
    text-align: center;
}
.item-inner {
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    background-color: white;
}
.gateway-regular {
    background-color:transparent;
}
.event-start-inner, .event-end-inner {
    min-width: 60px;
    min-height: 60px;
    border-radius: 30px;
}
.event-end-inner {
    border: 3px solid lightgray;
}
.gateway-regular-inner {
    border: none;
    background-color:transparent;
}
.gateway-regular-inner:after {
    position: absolute;
    content: '';
    height: 70%;
    width: 70%;
    border: 1px solid lightgray;
    transform: rotate(45deg);
    background-color:white;
    z-index:-1;
}
.action-conpoint {
    width: 15px;
    height: 15px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 6px;
    display: none;
    background-color: white;
}
.action-conpoint:hover {
    background-color: #eeeeee;
}
.action-conpoint-left {
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}
.action-conpoint-right {
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}
.action-conpoint-top {
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
}
.action-conpoint-bottom {
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
}
.item-container:hover .action-conpoint {
    display: block;
}
.action-conpoint.dragging {
    display: block;
}
.action-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #aaaaaa;
}
.conline {
    stroke: #dddddd;
    stroke-width: 2px;
}
.conline:hover {
    stroke: #9fc6ec;
}
/*.dropdown button, .dropdown button:hover {
    padding: 12px 8px;
    background-color: white !important;
    box-shadow: none;
    border: 1px solid #ced4da;
    margin-left: 0px;
}*/
.btn-light.dropdown-toggle, .btn-light.dropdown-toggle:hover {
    background-color: white !important;
}
#modalEditProcess .modal-body {
    height: calc(90vh - 100px);
    overflow:auto;
}
.sidebar-item .card-body {
    padding:0.5rem;
}
@media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 15px;
    }
}
#businessProcessContainer{
    position:relative;
    width:5000px;
}
#businessProcessContainer svg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.bootstrap-select button {
    margin:0px;
}


.main-left{
    flex : 0 0 212px;
    background-color:white;
    padding:4px;
    padding-top:60px;
}
.main-left .card-body {
    padding: 4px 3px;
    font-size:12px;
}
.main-left .card-header {
    padding: 1rem 2.25rem;
    color: #3699FF;
}
.main-left .bpobject {
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 96px;
}
.main-left .bpobject div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main-right {
    flex: 0 0 300px;
    background-color: white;
    padding: 10px;
    padding-top: 60px;
    display: flex;
    flex-direction:column;
}
.main-right > .tab-content {
    flex: 1;
    overflow:scroll;
}
.main-center{
    flex:1 1 100px;
    overflow:scroll;
}
.selection {
    position:absolute;
    border:1px dashed darkgray;
}
.item-container.selected .item-inner{
    border : 2px dashed black;
}
.main-center .action-user > i, .main-left #action-user i {
    color: #43a2ca;
}
.main-center .action-create-record > i, .main-left #action-create-record i {
    color: #2ca25f;
}
.main-center .action-update-record > i, .main-left #action-update-record i {
    color: #99d8c9;
}
.main-center .action-delete-record > i, .main-left #action-delete-record i {
    color: #dd1c77;
}
.main-center .action-notification > i, .main-left #action-notification i {
    color: #fdbb84;
}
.main-center .action-change-state > i, .main-left #action-change-state i {
    color: #fec44f;
}
.main-center .action-execute-function > i, .main-left #action-execute-function i {
    color: #2b8cbe;
}
.main-center .action-set-parameter > i, .main-left #action-set-parameter i {
    color: #a1d99b;
}
#actionUpdateRecordPropertyValues_wrapper {
    max-height:35vh;
    overflow:scroll;
}