﻿.grid-stack-item-content {
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.grid-stack {
    margin: 4px 8px;
}

.grid-stack .card-header {
    padding: 10px 12px;
}

.grid-stack .card, .grid-stack .card-body {
    height: 100%;
    padding: 0px;
}

.grid-stack .card-body .spinner-border {
    margin: auto;
    margin-top: 10px;
    display: block;
}

.grid-stack .card, .grid-stack .card-body iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.grid-stack .card-header button {
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
    box-shadow: none;
    color: #777777;
    display: none;
}

.grid-stack .card-header button:last-child {
    margin-right: 0px;
}

.grid-stack .card-header button i {
    font-size: 0.8rem;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
    opacity: 0.5;
}

.edit-mode-container {
    display: none;
}

.navbar-expand .navbar-nav .nav-link, .navbar-nav .nav-link {
    padding: 4px 4px;
    min-width: 40px;
}

.navbar .nav-item .nav-link .fas, .navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far {
    padding: 0px;
}

#chartSerieColorPaletteSelect ul {
    list-style-type: none;
}

#chartSerieColorPaletteSelect ul li {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
}

#chartSerieColorPaletteSelect ul li > div {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.nav-link i {
    vertical-align: middle;
}

.card-header button:hover i, .nav-link:hover i {
    color: #555555;
}

#dashboardDisplayNameTitle {
    margin-top: auto;
    margin-bottom: auto;
}

.edit-widget-chart {
    margin-top: 10px;
}
.map-container{
    width:100%;
    height:100%;
}