﻿.required-error {
    border-bottom: 2px solid red;
}

.card {
    margin-bottom: 15px;
}

.card-body {
    padding: 0.75rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.attachment-container {
    padding: 5px 0px 0px 0px;
}

.tab-pane {
    padding: 10px 5px;
    border: 1px solid lightgray;
    border-top: none;
}

#formContent .container {
    max-width: none !important;
    padding: 0px !important;
}

#formContent .card-header {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.02);
}

#attachmentDataTable td:nth-child(2) i, #attachmentVersionsTable td:nth-child(2) i {
    margin-right: 5px;
}

.form-check > div {
    padding-left: 15px;
}

    .form-check > div > .form-check-label {
        margin-left: 3px;
    }
.fform-element label:empty{
    display:none;
}
.card-body.fhtml-container{
    padding:1.0rem;
}
#formContent .form-control:required:invalid, #formContent .form-check-input:required:invalid + span, #formContent .form-check-input:required:invalid + .form-check-label {
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
}

.form-control.required-parent-elem {
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
}
    .form-control.required-parent-elem.required-parent-elem-selected {
        border-bottom: 1px solid #E4E6EF;
    }

/*#formContent .form-control.required-error, #formContent .form-check-input.required-error + span, #formContent .form-check-input.required-error + .form-check-label {
    border: 1px solid rgba(255, 0, 0, 0.3);
}*/
