﻿#propertyList li {
    border: 1px solid lightgray;
}

#propertyList .form-group {
    margin-bottom: 0px;
}

#propertyList input {
    pointer-events: none;
}

#formContent {
    padding: 10px 20px;
}

    #formContent .form-group {
        margin-bottom: 0.2rem;
    }

    #formContent .container .col {
        border: 1px solid lightgray;
    }

#topLeft input, #topRight input {
    pointer-events: none;
}

.drop-helper {
    height: 15px;
    border: 1px dashed #e0e0e0;
    border-radius: 3px;
}

    .drop-helper.drag-over {
        border: 2px solid #4285f4;
    }

.fselected {
    border: 1px solid #4285f4;
}
.card.fselected {
    border: 1px solid #4285f4;
}

#topLeft .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

#topLeft .card-header {
    padding: 0px;
}

    #topLeft .card-header .btn {
        margin: 0px;
        width: 100%;
    }

.card-body {
    padding: 2px;
}

#topAccordion .btn-link:hover, #topAccordion .btn-link {
    text-decoration: none;
}

.fhtml-container {
    padding: 10px;
}

#topLeft {
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    overflow: auto;
    left: 0;
}

#topRight {
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    right: 0px;
    overflow: auto;
}

.relationTable {
    width: 100%;
}

    .relationTable td {
        border: 1px solid lightgray;
    }

.attachment-container {
    padding: 5px 0px 0px 0px;
}

#pageFormDesign body {
    background-color: white;
}

#formContent .container {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
}

#formContent .card-header {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.02);
}

#modalFormExecutableCode input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.buttonContainer {
    margin: 3px;
}
#propertyTabTitles {
    padding: 7px;
    border: 1px solid #E4E6EF;
}
    #propertyTabTitles .list-group-item {
        padding: 2px 3px;
        border: none;
    }
#propertyTabTitles .input-group-prepend {
    margin: auto 7px auto 5px;
}
#propertyTabTitles .input-group-append {
    margin:0px;
}
#propertyTabTitles .input-group-append .btn {
    border: 1px solid #E4E6EF !important;
    color: #aaaaaa !important;
}
#propertyTabTitles .input-group-append .btn i{
    color: #aaaaaa !important;
}