﻿html body {
    background-color:white;
}
.dataTable.table-striped .selected,
.dataTable .selected {
    background-color: #acbad4;
}
.dataTable {
    min-width:100%;
}
.nav-link {
    cursor: pointer;
}
/*.navbar .nav-link {
    background-color: #3b77de;
    border-radius: 4px;
    margin-right: 5px;
    min-width: 50px;
    text-align: center;
}
navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item a.nav-link {
    color: #050505;
    background-color: transparent;
    border: 1px solid #adc3d0;
}
navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item a.nav-link:hover {
    color: #050505;
    background-color: white;
}
*/
table.dataTable tr th, table.dataTable tr td {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}

.container{
    padding-bottom:20px;
    max-width:100%;
}

button.btn {
    text-transform:none;
}

.popup-page .modal-dialog,
.popup-page .modal-content {
    height: 97%;
    max-height: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom:10px;
}
.popup-page .modal-body {
    /*max-height: calc(100% - 120px);*/
    overflow-y: auto;
}
.popup-page .modal-body {
    padding:0px;
}
.popup-page {
    background-color: #00000066;
}
/*.popup-page .modal-header {
    padding: 0.5rem 1rem;
}*/
.popup-page iframe {
    border:none;
}
.modal-xl {
    max-width: 75%;
}
.modal-xxl {
    max-width: 95%;
}
@media (min-width: 576px) {
    .modal-dialog.modal-xxl {
        max-width: 95%;
    }
} 
/*table.table .datatable-filter-row th {
    font-size: 9pt;
    padding: 1px 5px;
}*/
table.dataTable thead tr th input {
    font-size: 9pt;
    border : 1px solid lightgray;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
#tooltip {
    display: none;
}

#tooltip[data-show] {
    display: block;
}

.input-group-append .btn,
.input-group-append .btn[class*="btn-outline-"],
.input-group-append .btn-outline-secondary {
    padding: 0.375rem 0.75rem !important;
    margin: 0px;
    border: 1px solid #6c757d !important;
    color: #6c757d !important;
    border-radius: .25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 36px;
}
    .input-group-append .btn.btn-outline-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .input-group-append .btn.btn-outline-primary:focus:not(.btn-text), .input-group-append .btn.btn-outline-primary.focus:not(.btn-text) {
        color: white !important;
    }
.foverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(99,99,99,0.6);
    z-index: 10000;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nav.primary-color {
    background-color: #f3f6fb !important;
}*/
.btn-light.dropdown-toggle, .btn-light.dropdown-toggle:hover, .btn-light:not([disabled]):not(.disabled):active, .btn-light:not([disabled]):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    background-color: white !important;
    border: 1px solid #ced4da;
    box-shadow: none;
    margin: 0px;
/*    padding: .84rem 0.7rem;*/
}
.data-query-popup {
    max-height: 50vh;
    overflow: auto;
}
.data-query-popup .form-group{
    width:100%;
}
.data-query-popup .property-input, .data-query-popup .select-container, .data-query-popup:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    flex-grow: 1;
}
.data-query-popup .input-container {
    display:flex;
}
.data-query-popup .query-operator {
    width: 5rem; /* auto;*/
    margin-right:5px;
}
.data-query-popup .query-operator-select {
    height: 100%;
}
.data-query-popup .property-input2 {
    display:none;
}
.data-query-popup .property-checkbox {
    margin-left:10px;
    width:20px;
}
.page-container {
    height:100%;
}
.subheader-fixed .subheader {
    top:0px !important;
}
.subheader-fixed .content {
    padding-top:54px;
}
.header-fixed.subheader-fixed .subheader {
    position: fixed;
    height: 54px;
    top: 72px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 95;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
    margin: 0;
}
.subheader .container {
    margin:0px;
    max-width:100%;
}
.table-action-button-container {
    text-align:center;
}
.table-action-button-container .dropdown-item {
    color:black;
}
table.dataTable tbody tr.selected .table-action-button-container a, table.dataTable tbody th.selected .table-action-button-container a, table.dataTable tbody td.selected .table-action-button-container a {
    color: black;
}
.dt-buttons {
    float:left;
}
.modal .modal-header.bg-danger .modal-title, .modal .modal-header.bg-info .modal-title, .modal .modal-header.bg-warning .modal-title, .modal .modal-header.bg-primary .modal-title {
    color: white;
}
.modal .modal-header.bg-danger .close i, .modal .modal-header.bg-info .close i, .modal .modal-header.bg-warning .close i, .modal .modal-header.bg-primary .close i, .modal .modal-header .close .ki {
    color: white;
}
.modal.show {
    overflow-y:scroll;
}
.modal-dialog .modal-content {
    border:1px solid lightgray;
}
.modal-dialog li {
    word-break:break-all;
}
.modal-body-h100 {
    height:100%;
}
.toast-center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.dataTables_wrapper .dataTable td.dt-body-right {
    text-align: right;
}
.dataTables_wrapper .dataTable td.dt-body-center {
    text-align: center;
}
.query-section {
    margin-top: 20px;
    font-weight: 500;
}
#tableDataList #dataTable .switch label{
    margin: auto;
}
#tableDataList #dataTable .switch input:empty ~ span {
    width: 38px;
    height: 25px;
}
#tableDataList #dataTable .switch input:empty ~ span:before {
    width: 44px;
}
#tableDataList #dataTable .switch input:empty ~ span:after{
    width: 16px;
    height: 16px;
    margin-top:2px;
}
#tableDataList table.dataTable > thead > tr.datatable-filter-row > th:not(.sorting_disabled), #tableDataList table.dataTable > thead > tr.datatable-filter-row > td:not(.sorting_disabled) {
    padding-right: 5px;
}
.row.map-control-container {
    padding: 0px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    height: 300px;
}
#topLeft .map-control-container {
    height:auto;
}
#topLeft .map-control {
    display:none;
}
.map-control-container label {
    flex: 0 1 auto;
}
.map-control-container .map-control {
    flex: 1 1 auto;
    border: 1px solid lightgray;
    padding-top: 3px;
}
.fhtml-seperator-container{
    padding:3px 0px;
}
.sortable-list .list-item{
    display: flex;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 2px;
    padding-left:10px;
}
.sortable-list .list-item .main-content{
    flex: 1 1 auto;
    margin: auto;
    cursor:move;
}
    .sortable-list .list-item .btn {
        padding: 3px;
    }
.geoCodeSearchResult{
    margin-top:20px;
}
    .geoCodeSearchResult li {
        padding: 10px;
        border: 1px solid #E4E6EF;
        border-radius: 0.42rem;
        cursor:pointer;
    }
.leaflet-contextmenu a.leaflet-contextmenu-item{
    margin:5px 8px;
}
.leaflet-container .leaflet-tooltip{
    border: none;
    box-shadow: none;
    background: transparent;
    font-weight:bold;
}
.editGeometryCoordinatesPopup table, .editGeometryCoordinatesInnerPopup table {
    width: 100%;
    border-collapse: collapse;
    margin-top:15px;
}
    .editGeometryCoordinatesPopup table td {
        border: 1px solid lightgray;
        padding: 12px 8px;
        width:100%;
    }
.editGeometryCoordinatesInnerPopup table td {
    padding: 2px 5px;
}
.editGeometryCoordinatesInnerPopup .header-container{
    display:flex;
    flex-direction:row;
    width:100%;
}
.editGeometryCoordinatesInnerPopup .header-container>div{
    flex:1 1 auto;
}
.editGeometryCoordinatesInnerPopup .header-container > div:nth-child(2) {
    text-align:right;
}
.editGeometryCoordinatesInnerPopup table tr td {
    width: 50%;
}
.editGeometryCoordinatesInnerPopup table tr td:nth-child(1) {
    width: 40px;
    padding-right: 5px;
}
.editGeometryCoordinatesPopup table tr td:last-child, .editGeometryCoordinatesInnerPopup table tr td:last-child {
    width: 40px;
    text-align: right;
    padding: 0px;
}
.editGeometryCoordinatesPopup table tr td:last-child button, .editGeometryCoordinatesInnerPopup table tr td:last-child button {
    padding: 6px;
}
.editGeometryCoordinatesInnerPopup table th {
    text-align:center;
}
.editGeometryCoordinatesPopup table td:first-child {
    border-right:none;
}
.editGeometryCoordinatesPopup table td:last-child {
    border-left: none;
}
.dataTable .select-checkbox{
    width:20px !important;
    margin:auto;
}
.dataTables_wrapper .dataTable th.select-checkbox, .dataTables_wrapper .dataTable td.select-checkbox {
    padding:2px;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before{
    margin-top:0px !important;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-top: -5px !important;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before{
    border-color: #aaaaaa !important;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after{
    color: #aaaaaa !important;
}
.dataTables_wrapper .dataTable tbody tr.active th, .dataTables_wrapper .dataTable tbody tr.active td, .dataTables_wrapper .dataTable tbody tr.selected th, .dataTables_wrapper .dataTable tbody tr.selected td {
    background-color: #f1f3f9 !important;
}
.dataTables_wrapper span.select-info {
    display: none;
}
.dataTables_wrapper.selection-visible span.select-info {
    display: inline;
}
table.dataTable tfoot .aggregate-type {
    color:#aaaaaa;
    font-size:10px;
}
table.dataTable tfoot .aggregate-value {
    font-weight:bold;
}
.content > .card.card-custom > .card-body {
    padding: 1rem 2.25rem;
}
