﻿#toolbar, #infobar{
    padding:3px 15px;
}
#toolbar{
    border-bottom:1px solid #dddddd;
}
#infobar {
    border-top: 1px solid #dddddd;
}
/*#toolbar .btn.btn-light {
    background-color: #fcfcfc;
    border-color: #eaeaea;
}*/
#toolbar .btn.btn-outline-secondary i {
    color: #555555;
}
#toolbar .btn.btn-outline-secondary:disabled i {
    color: #cccccc;
}
#infobar {
    min-height: 20px;
    margin-bottom: 5px;
}
#toolbar .btn-group{
    margin-right:5px;
}
#reportContainer {
    min-height: 100px;
    padding: 10px;
    flex-grow:1;
    width:calc(100% - 6px);
}
#containerTableTHead, #containerTableTFoot {
    display: none;
}
div.felement.fheader, div.felement.ffooter{
    min-height:20px;
}
div.felement.main-content{
    min-height:120px;
}
#rootContainer > .fheader, #rootContainer .header-space, #rootContainer > .ffooter, #rootContainer .footer-space {
    height: auto !important;
}
#rootContainer {
    margin: 0px !important;
}
.felement.selected {
    border: 2px solid #4285f4 !important;
}
.felement {
    border: 1px dashed lightgray;
    padding: 5px 5px;
    margin: 5px 5px;
}
hr.felement {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
div.felement {
    min-height:5px;
}
.fhidden, .fhidden-design{
    display: none;
}
.fpage-break-after{
    page-break-after: always;
}
.felement .col{
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}
.felement .row{
    margin-left: 0px;
    margin-right: 0px;
}
.main-container{
    display:flex;
    flex-direction:column;
}
.infobar-link {
    color: #408acc;
    cursor: pointer;
    text-decoration: underline;
}
.tableBodyStartCode, .tableBodyEndCode{
    display:none;
}
/*table{
    border-collapse:collapse;
}*/
td, th, td.felement, th.felement{
    border:1px solid black;
    padding:2px 3px;
}
#containerTable > thead > tr > td, #containerTable > tbody > tr > td, #containerTable > tfoot > tr > td {
    border: none;
    padding:0px;
}
.dropdown-submenu {
    position: relative;
}
    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: 1.2em;
    }
    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }
    .dropdown-submenu .dropdown-item {
        padding-right:20px;
    }
#toolbar .btn.btn-light.disabled i, #toolbar .btn.btn-light:disabled i {
    color: #cdcfe1;
}
.fcode{
    display:none;
}
.fcode-description {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
table.felement td, table.felement th {
    padding: 5px 7px;
    height: 20px;
}
#toolbar .dropdown-item {
    padding: 0.50rem 1.25rem;
}