﻿.fhidden, .fhidden-run {
    display: none;
}
.fpage-break-after {
    page-break-after: always;
}
.felement .col {
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}
.felement .row {
    margin-left: 0px;
    margin-right: 0px;
}
#reportContainer > .header {
    position: fixed;
    top: 0px;
    padding-top: 50px;
}
#reportContainer > .footer {
    position: fixed;
    bottom: 0px;
    margin: 30px;
}
.fheader {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 50px;
}
.ffooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.tableBodyStartCode, .tableBodyEndCode {
    display: none;
}
td, th, td.felement, th.felement {
    border: 1px solid black;
    padding: 2px 3px;
}
#containerTable > thead > tr > td, #containerTable > tbody > tr > td, #containerTable > tfoot > tr > td {
    border: none;
    padding: 0px;
}
@page {
    margin: 1mm
}